Repository MTES-MCT/qualicharge, pull requests merged in 2024-12, with the labels that each got.

#220 Add API performance testing tool
  .github/workflows/api.yml
  .gitignore
  Makefile
  data/bench.csv
  docker-compose.yml
  env.d/api
  env.d/bench
  env.d/locust
  src/api/Dockerfile
  src/api/Pipfile
  src/api/Pipfile.lock
  src/bench/Dockerfile
  src/bench/README.md
  src/bench/cli.py
  src/bench/locustfile.py
Labels: feature, needs review

#248 👷(api) post performance md table only in PR
  .github/workflows/api.yml
Labels: bug, needs review, API

#256 Fix bench jobs when a PR is merged
  .github/workflows/api.yml
Labels: bug, WIP

#259 👷(project) filter CI workflows given changed paths
  .github/workflows/api.yml
  .github/workflows/client.yml
  .github/workflows/dashboard.yml
  .github/workflows/docker-images.yml
  .github/workflows/prefect.yml
Labels: improvement

#268 💚(project) fix typo in API CI workflow
  .github/workflows/api.yml
Labels: bug, API

#271 💚(project) rollback inefficient changes
  .github/workflows/api.yml
Labels: bug, API

#276 🐛(api) allow `date_maj` field to be set to "today"
  src/api/CHANGELOG.md
  src/api/qualicharge/models/static.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/models/test_static.py
  src/api/tests/schemas/test_static.py
Labels: bug, needs review, API

#254 Forbid /statique/ POST usage for an existing PDC
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/static.py
  src/api/tests/api/v1/routers/test_statique.py
Labels: improvement, needs review, API

#282 🚸(dashboard) enhance admin panels
  src/dashboard/apps/consent/admin.py
  src/dashboard/apps/core/admin.py
Labels: improvement, needs review, dashboard

#285 🔖(api:minor) bump release to 0.16.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#290 🔊(dashboard) add Sentry integration
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#298 ⚡️(api) cache PointDeCharge id from `id_pdc_itinerance` database request
  .github/workflows/api.yml
  env.d/api
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/dynamic.py
  src/api/qualicharge/conf.py
  src/api/tests/api/v1/routers/test_dynamic.py
  src/api/tests/fixtures/app.py
Labels: critical, improvement, needs review, API

#289 ✨(dashboard) add the global consent
  src/dashboard/apps/consent/fixtures/consent.py
  src/dashboard/apps/consent/forms.py
  src/dashboard/apps/consent/mixins.py
  src/dashboard/apps/consent/templates/consent/forms/widgets/checkbox.html
  src/dashboard/apps/consent/templates/consent/manage.html
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/urls.py
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/core/factories.py
Labels: feature, improvement, needs review, dashboard

#301 ⬆️(dashboard) update dependencies in Pipfile.lock
  src/dashboard/Pipfile.lock
Labels: bug, needs review, dashboard

#302 ⬆️(dashboard) add django-stubs to main dependencies in Pipfile
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
Labels: bug, needs review, dashboard

#306 🐛(dashboard) adjust manager order in Consent model
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/tests/test_admin.py
Labels: bug, dashboard

#308 🚨(dashboard) improve djlint execution speed
  src/dashboard/apps/consent/static/consent/js/app.js
  src/dashboard/dashboard/static/dashboard/img/error.svg
  src/dashboard/dashboard/static/dashboard/img/information.svg
  src/dashboard/dashboard/static/dashboard/img/technical-error.svg
  src/dashboard/dashboard/static/dashboard/img/warning.svg
  src/dashboard/templates/403.html
  src/dashboard/templates/404.html
  src/dashboard/templates/500.html
Labels: improvement, dashboard
