Repository MTES-MCT/qualicharge, pull requests merged in 2024-11, with the labels that each got.

#211 🗃️(api) set `Station` fks on delete to NULL
  src/api/CHANGELOG.md
  src/api/qualicharge/migrations/versions/c09664a85912_handle_stations_fk.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/schemas/test_static.py
Labels: critical, improvement, API

#213 🔨(prefect) improve cross-service dependencies
  Makefile
  docker-compose.yml
  env.d/prefect
  env.d/prefect-worker
  src/prefect/Dockerfile
Labels: improvement, needs review

#207 Bootstrap dashboard project
  Makefile
  README.md
  bin/manage
  docker-compose.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Dockerfile
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/Procfile
  src/dashboard/Procfile.dev
  src/dashboard/apps/dashboard/__init__.py
  src/dashboard/apps/dashboard/asgi.py
  src/dashboard/apps/dashboard/settings.py
  src/dashboard/apps/dashboard/urls.py
  src/dashboard/apps/dashboard/wsgi.py
  src/dashboard/apps/manage.py
  src/dashboard/bin/post_deploy.sh
  src/dashboard/bin/start.sh
  src/dashboard/readme.md
Labels: feature, needs review

#217 🐛 (project) pipenv workaround for github workfow and upgrade pipenv
  .github/workflows/api.yml
  .github/workflows/prefect.yml
  src/api/Dockerfile
  src/api/Pipfile.lock
  src/dashboard/Dockerfile
  src/dashboard/Pipfile.lock
  src/opendata/Dockerfile
  src/opendata/Pipfile.lock
  src/prefect/Dockerfile
  src/prefect/Pipfile.lock
Labels: bug, needs review, dependencies

#218 ⚡️(api) allow uvicorn workers configuration
  src/api/CHANGELOG.md
  src/api/start.sh
Labels: improvement, needs review, API

#219 🗃️(api) allow database connections pool configuration
  src/api/CHANGELOG.md
  src/api/qualicharge/conf.py
  src/api/qualicharge/db.py
Labels: improvement, needs review, API

#216 🚧 (dashboard) add linter
  .github/workflows/dashboard.yml
  Makefile
  bin/manage
  src/dashboard/Dockerfile
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/Procfile
  src/dashboard/Procfile.dev
  src/dashboard/apps/__init__.py
  src/dashboard/apps/dashboard/__init__.py
  src/dashboard/apps/dashboard/settings.py
  src/dashboard/dashboard/__init__.py
  src/dashboard/dashboard/asgi.py
  src/dashboard/dashboard/settings.py
  src/dashboard/dashboard/urls.py
  src/dashboard/dashboard/wsgi.py
  src/dashboard/manage.py
  src/dashboard/post_deploy.sh
  src/dashboard/pyproject.toml
  src/dashboard/start.sh
  src/dashboard/tests/__init__.py
  src/dashboard/tests/test_fake.py
Labels: WIP, dashboard

#224 ✨(api) add `--json` option to the `read-user` CLI command
  src/api/CHANGELOG.md
  src/api/qualicharge/cli.py
  src/api/tests/test_cli.py
Labels: improvement, needs review, API

#225 🔖(api:minor) bump release to 0.14.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: needs review, release, API

#223 ✨(dashboard) add dashboard homepage
  .github/workflows/dashboard.yml
  Makefile
  bin/djlint
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/__init__.py
  src/dashboard/apps/home/__init__.py
  src/dashboard/apps/home/apps.py
  src/dashboard/apps/home/templates/home/base.html
  src/dashboard/apps/home/templates/home/cards/consentement.html
  src/dashboard/apps/home/templates/home/index.html
  src/dashboard/apps/home/tests/__init__.py
  src/dashboard/apps/home/tests/test_views.py
  src/dashboard/apps/home/urls.py
  src/dashboard/apps/home/views.py
  src/dashboard/dashboard/fixtures/dsfr_fixtures.json
  src/dashboard/dashboard/settings.py
  src/dashboard/dashboard/static/dashboard/js/common.js
  src/dashboard/dashboard/tests/__init__.py
  src/dashboard/dashboard/urls.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
  src/dashboard/pyproject.toml
  src/dashboard/templates/404.html
  src/dashboard/templates/500.html
  src/dashboard/templates/base.html
  src/dashboard/templates/blocks/header.html
  src/dashboard/templates/blocks/language_selector.html
  src/dashboard/templates/blocks/main_menu.html
Labels: feature, dashboard

#228 ⚡️(api) add user password reset script
  scripts/_common.sh
  scripts/create-api-users.sh
  scripts/reset-password.sh
Labels: feature, needs review, API

#226 ✨(dashboard) add authentication system and custom user model
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/auth/__init__.py
  src/dashboard/apps/auth/admin.py
  src/dashboard/apps/auth/apps.py
  src/dashboard/apps/auth/migrations/0001_initial.py
  src/dashboard/apps/auth/migrations/__init__.py
  src/dashboard/apps/auth/models.py
  src/dashboard/apps/auth/tests/__init__.py
  src/dashboard/apps/auth/tests/test_models.py
  src/dashboard/apps/home/apps.py
  src/dashboard/apps/home/templates/home/index.html
  src/dashboard/dashboard/settings.py
  src/dashboard/dashboard/urls.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
  src/dashboard/pyproject.toml
  src/dashboard/readme.md
  src/dashboard/templates/404.html
  src/dashboard/templates/500.html
  src/dashboard/templates/blocks/header.html
  src/dashboard/templates/blocks/logout.html
  src/dashboard/templates/blocks/main_menu.html
  src/dashboard/templates/registration/login.html
Labels: feature, WIP, dashboard

#227 ✨(dashboard) add consent base app
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/consent/__init__.py
  src/dashboard/apps/consent/apps.py
  src/dashboard/apps/consent/migrations/__init__.py
  src/dashboard/apps/consent/templates/consent/base.html
  src/dashboard/apps/consent/templates/consent/consent-management.html
  src/dashboard/apps/consent/templates/consent/index.html
  src/dashboard/apps/consent/urls.py
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/home/templates/home/cards/consentement.html
  src/dashboard/apps/home/views.py
  src/dashboard/dashboard/settings.py
  src/dashboard/dashboard/urls.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
  src/dashboard/templates/registration/login.html
Labels: feature, dashboard

#231 🔇(api) send DB query details on error only in debug mode
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/static.py
  src/api/tests/api/v1/routers/test_statique.py
Labels: improvement, needs review, API

#233 🗃️(api) make `num_pdl` field less provider-specific
  src/api/CHANGELOG.md
  src/api/qualicharge/models/static.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/models/test_static.py
Labels: improvement, needs review, API

#234 🐛(api) update Pipenv lock file
  src/api/Pipfile.lock
Labels: bug, critical, needs review, API

#237 🔖(api:minor) bump release to 0.15.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#235 🚧(dashboard) add consent models
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/consent/admin.py
  src/dashboard/apps/consent/migrations/0001_initial.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/tests/__init__.py
  src/dashboard/apps/consent/tests/test_models.py
  src/dashboard/apps/core/__init__.py
  src/dashboard/apps/core/admin.py
  src/dashboard/apps/core/apps.py
  src/dashboard/apps/core/migrations/0001_initial.py
  src/dashboard/apps/core/migrations/__init__.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/__init__.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/dashboard/settings.py
Labels: feature, dashboard

#239 ✅(dashboard) update tests with factory boy
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/auth/factories.py
  src/dashboard/apps/auth/tests/test_models.py
  src/dashboard/apps/consent/factories.py
  src/dashboard/apps/consent/tests/test_models.py
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/tests/test_models.py
Labels: feature, dashboard

#243 🗃️(dashboard) refactor DeliveryPoint and Entity models
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/consent/migrations/0001_initial.py
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/migrations/0001_initial.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
Labels: feature, improvement, needs review, dashboard

#244 🌱(dashboard) add consent development fixtures
  Makefile
  src/dashboard/apps/consent/fixtures/__init__.py
  src/dashboard/apps/consent/fixtures/consent.py
  src/dashboard/apps/consent/management/__init__.py
  src/dashboard/apps/consent/management/commands/__init__.py
  src/dashboard/apps/consent/management/commands/seed_consent.py
Labels: feature, dashboard
