Repository MTES-MCT/qualicharge, pull requests merged in 2024-09, with the labels that each got.

#139 Add `StatiqueImporter` and related `import-statique` CLI command
  docker-compose.yml
  src/api/CHANGELOG.md
  src/api/Pipfile
  src/api/Pipfile.lock
  src/api/qualicharge/cli.py
  src/api/qualicharge/exceptions.py
  src/api/qualicharge/schemas/sql.py
  src/api/tests/schemas/test_sql.py
  src/api/tests/test_cli.py
  src/notebook/misc/import-static.md
Labels: feature, needs review, API

#160 🐛(api) add pyinstrument as a core dependencies
  src/api/Pipfile
  src/api/Pipfile.lock
Labels: bug, API

#162 Allow to submit single item in bulk endpoints
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/dynamic.py
  src/api/qualicharge/api/v1/routers/static.py
  src/api/tests/api/v1/routers/test_dynamic.py
  src/api/tests/api/v1/routers/test_statique.py
Labels: improvement, needs review, API

#164 🔖(client:minor) bump release to 0.2.0
  src/client/CHANGELOG.md
  src/client/pyproject.toml
Labels: release, client

#152 Proposal for a function to create indicators
  src/notebook/indicators/reference_indicators.md
  src/notebook/misc/create_indicators.md
  src/notebook/misc/create_query.py
Labels: WIP

#163 🗃️(api) require code_insee_commune field for Localisation and Statique
  src/api/CHANGELOG.md
  src/api/qualicharge/migrations/versions/d198170d222f_localisation_code_insee_commune_is_.py
  src/api/qualicharge/models/static.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/schemas/test_static.py
Labels: improvement, API

#165 🔖(api:minor) bump release to 0.12.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API
