Repository MTES-MCT/qualicharge, pull requests merged in 2025-05, with the labels that each got.

#554 🐛(prefect) correct variance historicization error
  src/prefect/indicators/historicize/up.py
  src/prefect/indicators/utils.py
Labels: bug, prefect

#535 🔖(prefect) add u12 indicator
  src/prefect/CHANGELOG.md
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/indicators/usage/u12.py
  src/prefect/prefect.yaml
  src/prefect/tests/usage/test_u12.py
Labels: needs review, prefect

#555 🐛(prefect) fix offline workers cleanup script
  src/prefect/clean-offline-workers.sh
Labels: bug, prefect

#537 🔖(prefect) add u13 indicator
  src/prefect/CHANGELOG.md
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/indicators/usage/u13.py
  src/prefect/prefect.yaml
  src/prefect/tests/quality/test_static.py
  src/prefect/tests/usage/test_u13.py
Labels: prefect

#545 🗃️(renewable) update renewable models
  src/dashboard/apps/renewable/migrations/0002_renewable_has_confirmed_information_accuracy_and_more.py
  src/dashboard/apps/renewable/models.py
Labels: feature, dashboard

#559 🔧(api) add 'dynamic:read' to new users default scope
  scripts/create-api-users.sh
Labels: improvement, needs review, API

#561 🔖(dashboard:minor) bump release to 0.1.0
  src/dashboard/CHANGELOG.md
  src/dashboard/dashboard/__init__.py
Labels: needs review, release, dashboard

#546 ✨(renewable) add renewable meter reading management and validations
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/renewable/forms.py
  src/dashboard/apps/renewable/templates/renewable/forms/widgets/checkbox.html
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_meters.html
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_meters_authorisations.html
  src/dashboard/apps/renewable/templates/renewable/manage.html
  src/dashboard/apps/renewable/tests/test_forms.py
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/apps/renewable/urls.py
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#566 🚸(dashboard) add submitted renewables view with sorting
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_meters.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_submitted_card_content.html
  src/dashboard/apps/renewable/templates/renewable/submitted.html
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/apps/renewable/urls.py
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#567 ✨(dashboard) add email notification for renewable meter submission
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/apps/renewable/views.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#568 Improve `Statique` model string fields quality
  src/api/CHANGELOG.md
  src/api/qualicharge/models/static.py
  src/api/tests/models/test_static.py
Labels: improvement, needs review, API

#574 🐛(opendata) lock Pipfile
  src/opendata/Pipfile.lock
Labels: bug, opendata

#571 ✨(dashboard) add renewable opening notifications and helper utilities
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/apps/renewable/helpers.py
  src/dashboard/apps/renewable/management/commands/notifopening.py
  src/dashboard/apps/renewable/tests/test_helpers.py
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#576 🌱(api) fix `restriction_gabarit` values in statique dataset
  data/irve-statique.json.gz
Labels: bug, needs review, API

#578 ✨(dashboard) add delivery point renewable management feature
  docs/dashboard/renewable/img/0-dashboard-index.png
  docs/dashboard/renewable/img/1-renewable-index.png
  docs/dashboard/renewable/img/2-mamange-delivery-points.png
  docs/dashboard/renewable/img/3-renewable-manage.png
  docs/renewable/img/1-renewable-index.png
  src/dashboard/apps/core/templatetags/dashboard_filters.py
  src/dashboard/apps/renewable/forms.py
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_delivery_points.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_delivery_points.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_delivery_points_content.html
  src/dashboard/apps/renewable/templates/renewable/index.html
  src/dashboard/apps/renewable/templates/renewable/manage_delivery_points.html
  src/dashboard/apps/renewable/templatetags/renewable_tags.py
  src/dashboard/apps/renewable/tests/test_renewable_tags.py
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/apps/renewable/urls.py
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#581 🛂(dashboard) add restricted period handling for renewable reporting
  src/dashboard/apps/core/migrations/0012_entity_can_bypass_renewable_period.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/home/views.py
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_pending_card.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_pending_card_content.html
  src/dashboard/apps/renewable/templates/renewable/restricted_period.html
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/apps/renewable/urls.py
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#579 ✅(api) add integration tests for static-related updated_at fields
  src/api/tests/api/v1/routers/test_statique.py
Labels: improvement, API

#589 🌐(dashboard) fr translations and refactor string formatting for translations
  src/dashboard/apps/renewable/forms.py
  src/dashboard/apps/renewable/templatetags/renewable_tags.py
  src/dashboard/apps/renewable/tests/conftest.py
  src/dashboard/apps/renewable/views.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
Labels: improvement, needs review, dashboard

#591 📝(dashboard) update documentation
  src/dashboard/readme.md
Labels: needs review, documentation, dashboard

#592 📝(dashboard) update changelog
  src/dashboard/CHANGELOG.md
Labels: needs review, documentation, dashboard
