Repository MTES-MCT/qualicharge, pull requests merged in 2025-03, with the labels that each got.

#408 🗃️(dashboard) add "is_validated" field to DashboardUser model
  src/dashboard/apps/auth/admin.py
  src/dashboard/apps/auth/migrations/0003_dashboarduser_is_validated.py
  src/dashboard/apps/auth/models.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
Labels: feature, needs review, dashboard

#415 🐛(dashboard) update SIRET handling and add validation in auth backend
  src/dashboard/apps/auth/backends.py
  src/dashboard/apps/auth/tests/test_backends.py
Labels: improvement, needs review, dashboard

#407 ✨(dashboard) add AnnuaireEntrepriseAPI client for enterprise data retrieval
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/core/annuaire_entreprise_api/__init__.py
  src/dashboard/apps/core/annuaire_entreprise_api/adapters.py
  src/dashboard/apps/core/annuaire_entreprise_api/clients.py
  src/dashboard/apps/core/helpers.py
  src/dashboard/apps/core/management/__init__.py
  src/dashboard/apps/core/management/commands/__init__.py
  src/dashboard/apps/core/management/commands/populateentity.py
  src/dashboard/apps/core/tests/test_annuaire_entreprise_adapters.py
  src/dashboard/apps/core/tests/test_annuaire_entreprise_clients.py
  src/dashboard/apps/core/tests/test_helpers.py
  src/dashboard/apps/core/tests/test_validators.py
  src/dashboard/apps/core/validators.py
  src/dashboard/dashboard/settings.py
  src/dashboard/readme.md
Labels: feature, needs review, dashboard

#419 ✨(dashboard) add email notification for user validation
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/apps/auth/models.py
  src/dashboard/apps/auth/tests/test_models.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#405 🔖(prefect) factorize historicization
  .github/workflows/prefect.yml
  src/prefect/CHANGELOG.md
  src/prefect/indicators/infrastructure/i1.py
  src/prefect/indicators/infrastructure/t1.py
  src/prefect/indicators/utils.py
  src/prefect/tests/infrastructure/test_db.py
  src/prefect/tests/infrastructure/test_i1.py
  src/prefect/tests/infrastructure/test_t1.py
  src/prefect/tests/parameters.py
Labels: prefect

#421 ✨(dashboard) add user-entity attachment logic on ProConnect user creation
  src/dashboard/apps/auth/admin.py
  src/dashboard/apps/auth/backends.py
  src/dashboard/apps/auth/tests/test_backends.py
  src/dashboard/apps/home/views.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#422 ✨(dashboard) add admin notification for new user registration
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/apps/auth/backends.py
  src/dashboard/apps/auth/tests/test_backends.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#424 🛂(dashboard) enforce user validation across views
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/auth/factories.py
  src/dashboard/apps/auth/mixins.py
  src/dashboard/apps/auth/templates/auth/user_not_validated.html
  src/dashboard/apps/auth/tests/test_mixins.py
  src/dashboard/apps/auth/urls.py
  src/dashboard/apps/auth/views.py
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/core/views.py
  src/dashboard/apps/home/tests/test_views.py
  src/dashboard/apps/home/views.py
  src/dashboard/dashboard/urls.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
Labels: feature, needs review, dashboard

#425 🩹(dashboard) fix email data key to use user email instead of username
  src/dashboard/apps/auth/backends.py
  src/dashboard/apps/auth/tests/test_backends.py
Labels: improvement, needs review, dashboard

#426 🗃️(dashboard) Add UUID primary key and Squash migrations
  src/dashboard/apps/auth/migrations/0001_initial_squashed_0003_dashboarduser_is_validated.py
  src/dashboard/apps/auth/migrations/0002_dashboarduser_siret.py
  src/dashboard/apps/auth/migrations/0003_dashboarduser_is_validated.py
  src/dashboard/apps/auth/models.py
Labels: improvement, dashboard

#427 🐛(api) add default value to models optional fields
  src/api/CHANGELOG.md
  src/api/qualicharge/models/dynamic.py
  src/api/qualicharge/models/static.py
  src/api/tests/api/v1/routers/test_dynamic.py
  src/api/tests/api/v1/routers/test_statique.py
Labels: bug, needs review, API

#435 👷(dashboard) enforce Black formatting check in CI pipeline
  .github/workflows/dashboard.yml
Labels: bug, needs review, dashboard

#433 ✨(dashboard) add user validation action and email notifications
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/auth/admin.py
  src/dashboard/apps/auth/mails.py
  src/dashboard/apps/auth/models.py
  src/dashboard/apps/auth/tests/test_mails.py
  src/dashboard/apps/auth/tests/test_models.py
Labels: feature, needs review, dashboard

#434 🗃️(dashboard) add contract holder fields to entity and consent models
  src/dashboard/apps/consent/migrations/0005_consent_contract_holder_email_and_more.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/core/migrations/0005_entity_contract_holder_email_and_more.py
  src/dashboard/apps/core/models.py
Labels: improvement, needs review, dashboard

#436 ♻️(dashboard) refactor to manage a single entity instead of multiple in consent form
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/templates/consent/includes/_manage_company_informations.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents.html
  src/dashboard/apps/consent/templates/consent/manage.html
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/views.py
Labels: improvement, needs review, dashboard

#443 🔧(project) avoid Renovate immortal PRs
  renovate.json
Labels: improvement

#440 🧑‍💻(api) update bootstrap command for API project in makefile
  Makefile
Labels: improvement, needs review, API

#413 Integrate Great Expectations
  .github/workflows/prefect.yml
  env.d/prefect-qc
  src/prefect/CHANGELOG.md
  src/prefect/Dockerfile
  src/prefect/Pipfile
  src/prefect/Pipfile.lock
  src/prefect/indicators/infrastructure/i1.py
  src/prefect/prefect.yaml
  src/prefect/pyproject.toml
  src/prefect/quality/__init__.py
  src/prefect/quality/expectations/__init__.py
  src/prefect/quality/expectations/static.py
  src/prefect/quality/flows/__init__.py
  src/prefect/quality/flows/static.py
  src/prefect/quality/templates/static-by-amenageur.md.j2
  src/prefect/tests/quality/__init__.py
  src/prefect/tests/quality/test_static.py
Labels: needs review, API, prefect

#438 ✨(dashboard) refactor and enhance consent form structure
  docs/dashboard/img/2-consent-manage-contract-holder-mandatory-error-2.png
  docs/dashboard/img/2-consent-manage-contract-holder-mandatory-error.png
  docs/dashboard/img/2a-consent-manage-contract-holder-form.png
  docs/dashboard/img/2b-consent-manage-contract-holder-read-only.png
  src/dashboard/apps/consent/admin.py
  src/dashboard/apps/consent/forms.py
  src/dashboard/apps/consent/migrations/0006_remove_consent_contract_holder_email_and_more.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/templates/consent/fields/_checkbox_fields.html
  src/dashboard/apps/consent/templates/consent/fields/_hidden_fields.html
  src/dashboard/apps/consent/templates/consent/fields/_input_fields.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_authorisations.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_company_informations.html
  src/dashboard/apps/consent/templates/consent/manage.html
  src/dashboard/apps/consent/tests/test_validators.py
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/validators.py
  src/dashboard/apps/consent/views.py
Labels: feature, needs review, dashboard

#446 🩹(api) add `refresh-api-static` to Makefile commands
  Makefile
Labels: bug, needs review, API

#447 🔖(client:minor) bump release to 0.3.0
  src/client/CHANGELOG.md
  src/client/pyproject.toml
Labels: release, client

#452 🔖(prefect) deploy indicators i1 t1
  Makefile
  provisioning/main.tf
  src/prefect/CHANGELOG.md
  src/prefect/indicators/infrastructure/i1.py
  src/prefect/indicators/infrastructure/t1.py
  src/prefect/indicators/models.py
  src/prefect/indicators/run.py
  src/prefect/prefect.yaml
  src/prefect/tests/infrastructure/test_i1.py
  src/prefect/tests/infrastructure/test_t1.py
Labels: improvement, needs review, prefect

#451 🩹(client) update docstrings in manage.py to reflect correct endpoints
  src/client/CHANGELOG.md
  src/client/qcc/endpoints/manage.py
Labels: needs review, client

#450 ✨(dashboard) add QualiCharge API clients
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/core/qualicharge_api/__init__.py
  src/dashboard/apps/core/qualicharge_api/adapters.py
  src/dashboard/apps/core/qualicharge_api/clients.py
  src/dashboard/apps/core/tests/test_annuaire_entreprise_adapters.py
  src/dashboard/apps/core/tests/test_annuaire_entreprise_clients.py
  src/dashboard/apps/core/tests/test_qualicharge_api_adapters.py
  src/dashboard/apps/core/tests/test_qualicharge_api_clients.py
  src/dashboard/dashboard/settings.py
  src/dashboard/pyproject.toml
  src/dashboard/readme.md
Labels: feature, needs review, dashboard

#456 🐛(api) allow creating a new PDC the day it has been connected
  src/api/CHANGELOG.md
  src/api/qualicharge/models/static.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/models/test_static.py
  src/api/tests/schemas/test_static.py
Labels: bug, needs review, API

#455 🐛(api) ignore stations without PDL in stations mananagement
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/manage.py
  src/api/tests/api/v1/routers/test_manage.py
Labels: bug, needs review, API

#459 🔖(api:minor) bump release to 0.20.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#461 ✨(dashboard) add support for upcoming consents in dashboard
  src/dashboard/apps/consent/managers.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/settings.py
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_awaiting_card.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_awaiting_card_content.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_card.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_upcoming_card.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_upcoming_card_content.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_validated_card.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_validated_card_content.html
  src/dashboard/apps/consent/templates/consent/index.html
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/apps/home/templates/home/cards/consentement.html
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#462 Feature/dashboard/add futur consents form
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_upcoming_card_content.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents.html
  src/dashboard/apps/consent/templates/consent/validated.html
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/urls.py
  src/dashboard/apps/consent/views.py
Labels: feature, needs review, dashboard

#463 ✨(dashboard) add support for upcoming validated consents in dashboard
  src/dashboard/apps/consent/managers.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/templates/consent/validated.html
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
Labels: feature, needs review, dashboard

#457 ✨(dashboard) add sync delivery points functionality from QualiCharge API
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/core/helpers.py
  src/dashboard/apps/core/management/commands/syncdeliverypoints.py
  src/dashboard/apps/core/migrations/0007_entity_synced_at.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_commands_syncdeliverypoints.py
  src/dashboard/apps/core/tests/test_helpers.py
  src/dashboard/apps/core/utils.py
Labels: feature, needs review, dashboard

#458 ✨(dashboard) add notification for users with awaiting consents
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/helpers.py
  src/dashboard/apps/consent/management/commands/notifawaitingconsents.py
  src/dashboard/apps/consent/tests/test_commands_notifawaitingconsents.py
  src/dashboard/apps/consent/tests/test_helpers.py
  src/dashboard/apps/core/management/commands/base_command.py
  src/dashboard/apps/core/management/commands/syncdeliverypoints.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#465 🌐(dashboard) update French translations and add new messages
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
Labels: improvement, dashboard

#464 ✨(dashboard) add management command to duplicate expiring consents
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/helpers.py
  src/dashboard/apps/consent/management/commands/renewconsents.py
  src/dashboard/apps/consent/managers.py
  src/dashboard/apps/consent/tests/test_commands_renewconsents.py
  src/dashboard/apps/consent/tests/test_helpers.py
  src/dashboard/apps/core/models.py
Labels: feature, needs review, dashboard
