Repository MTES-MCT/qualicharge, pull requests merged in 2025-02, with the labels that each got.

#367 🚸(dashboard) refactor and modularize consent management templates
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/apps/consent/forms.py
  src/dashboard/apps/consent/settings.py
  src/dashboard/apps/consent/templates/consent/forms/widgets/checkbox.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_authorisations.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_company_informations.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents_control_authority.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents_date_place.html
  src/dashboard/apps/consent/templates/consent/includes/_table_row.html
  src/dashboard/apps/consent/templates/consent/manage.html
  src/dashboard/apps/consent/views.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#364 🧐(notebook) explore API response time
  src/notebook/misc/analyze-scalingo-logs.md
Labels: needs review, API

#376 📝(project) update project's README
  README.md
Labels: improvement

#370 ✨(dashboard) add validation and data updates for consent management
  src/dashboard/apps/consent/apps.py
  src/dashboard/apps/consent/forms.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents_date_place.html
  src/dashboard/apps/consent/templates/consent/manage.html
  src/dashboard/apps/consent/tests/test_validators.py
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/validators.py
  src/dashboard/apps/consent/views.py
Labels: feature, needs review, dashboard

#375 Update Operational Units
  src/api/CHANGELOG.md
  src/api/qualicharge/fixtures/operational_units.py
  src/api/qualicharge/migrations/versions/3eaef66b7629_ou_data_update.py
  src/api/qualicharge/migrations/versions/fda96abb970d_add_operational_unit_data.py
Labels: improvement, needs review, API

#374 ✨(scripts) handle multiple API instances
  scripts/_common.sh
Labels: feature, API

#385 🔖(api:minor) bump release to 0.18.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#381 🛂(dashboard) add Pro Connect (OIDC) integration with mozilla-django-oidc library
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/auth/admin.py
  src/dashboard/apps/auth/backends.py
  src/dashboard/apps/auth/middleware.py
  src/dashboard/apps/auth/migrations/0002_dashboarduser_siret.py
  src/dashboard/apps/auth/models.py
  src/dashboard/dashboard/settings.py
  src/dashboard/dashboard/static/dashboard/img/secure-folder.svg
  src/dashboard/dashboard/urls.py
  src/dashboard/templates/registration/login.html
Labels: feature, dashboard

#388 📝(api) improve bulk endpoints documentation
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/dynamic.py
  src/api/qualicharge/api/v1/routers/static.py
Labels: needs review, easy pick, documentation, API

#389 ⚡️(api) use background tasks in /dynamique (bulk) create endpoints
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/dynamic.py
Labels: improvement, needs review, API

#390 [API] fix CI bench
  .github/workflows/api.yml
  src/bench/cli.py
Labels: bug, API

#387 ✨(dashboard) add email sending feature using Anymail and Brevo
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/views.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#397 🛂(opendata) add HTTP basic authentication support
  .gitignore
  src/opendata/.buildpacks
  src/opendata/CHANGELOG.md
  src/opendata/Procfile
  src/opendata/servers.conf.erb
  src/opendata/start.sh
Labels: feature, needs review, opendata

#377 ✨(notebook) migrate Metabase questions
  src/notebook/CHANGELOG.md
  src/notebook/misc/migrate_metabase_questions.md
Labels: metabase

#403 ✨(dashboard) add validated consent view
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_card.html
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_validated.html
  src/dashboard/apps/consent/templates/consent/includes/_no_data_card.html
  src/dashboard/apps/consent/templates/consent/validated.html
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/urls.py
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/core/models.py
Labels: feature, needs review, dashboard

#402 🌐(dashboard) update French translations
  src/dashboard/apps/consent/tests/conftest.py
  src/dashboard/locale/fr/LC_MESSAGES/django.mo
  src/dashboard/locale/fr/LC_MESSAGES/django.po
Labels: improvement, dashboard

#406 🗃️(prefect) add indicators persistence in database
  .github/workflows/prefect.yml
  Makefile
  docker-compose.yml
  env.d/prefect
  env.d/prefect-qc
  env.d/prefect-test
  env.d/prefect-worker
  src/prefect/indicators/conf.py
  src/prefect/indicators/db.py
  src/prefect/indicators/infrastructure/i1.py
  src/prefect/indicators/infrastructure/t1.py
  src/prefect/indicators/schemas.py
  src/prefect/indicators/types.py
  src/prefect/indicators/utils.py
  src/prefect/post-deploy.sh
  src/prefect/tests/conftest.py
  src/prefect/tests/infrastructure/test_db.py
  src/prefect/tests/infrastructure/test_i1.py
  src/prefect/tests/infrastructure/test_t1.py
  src/prefect/tests/infrastructure/test_utils.py
Labels: feature, needs review, prefect

#412 🔖(api:minor) bump release to 0.19.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API
