Repository MTES-MCT/qualicharge, pull requests merged in 2025-04, with the labels that each got.

#470 ✨(dashboard) enhance `syncdeliverypoints` command to send email
  src/dashboard/apps/core/helpers.py
  src/dashboard/apps/core/management/commands/syncdeliverypoints.py
  src/dashboard/apps/core/tests/test_helpers.py
Labels: improvement, needs review, dashboard

#471 ✨(dashboard) add command to generate missing consents
  src/dashboard/apps/consent/helpers.py
  src/dashboard/apps/consent/management/commands/renewconsents.py
  src/dashboard/apps/consent/tests/test_commands_renewconsents.py
  src/dashboard/apps/consent/tests/test_helpers.py
Labels: feature, needs review, dashboard

#473 ✨(dashboard) add `consent_start_date` utility
  src/dashboard/apps/consent/migrations/0008_alter_consent_options_alter_consent_start.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/tests/test_helpers.py
  src/dashboard/apps/consent/tests/test_utils.py
  src/dashboard/apps/consent/utils.py
Labels: improvement, needs review, dashboard

#474 🚸(dashboard) Enhance consent management UI and add PDL validation logic
  src/dashboard/apps/consent/static/apps/consent/css/app.css
  src/dashboard/apps/consent/static/apps/consent/js/app.js
  src/dashboard/apps/consent/templates/consent/includes/_manage_company_informations.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents.html
  src/dashboard/apps/consent/templates/consent/manage.html
Labels: improvement, needs review, dashboard

#476 🔇(api) remove access logs in production
  src/api/logging-config.prod.yaml
  src/api/start.sh
Labels: improvement, needs review, API

#482 🩹(dashboard) set UTC timezone for consent_start_date function
  src/dashboard/apps/consent/tests/test_helpers.py
  src/dashboard/apps/consent/tests/test_utils.py
  src/dashboard/apps/consent/utils.py
Labels: improvement, needs review, dashboard

#479 📝(dashboard) update documentation and changelog
  docs/dashboard/img/1-consent-index-with-upcoming-consents.png
  docs/dashboard/img/2c-consent-manage-overfow-pdls.png
  src/dashboard/CHANGELOG.md
  src/dashboard/readme.md
Labels: improvement, needs review, dashboard

#484 ✨(dashboard) add cron job configuration to schedule management tasks
  src/dashboard/CHANGELOG.md
  src/dashboard/cron.json
  src/dashboard/readme.md
Labels: feature, needs review, dashboard

#489 📝(api) add documentation on data model constraints
  docs/schemas.md
Labels: documentation, API

#494 🗃️(api) update operational units
  src/api/CHANGELOG.md
  src/api/qualicharge/fixtures/operational_units.py
  src/api/qualicharge/migrations/versions/ff52adf974c7_operational_units_data_update.py
Labels: needs review, easy pick, API

#492 🗃️(dashboard) remove station attibutes from DeliveryPoint and Consent models
  src/dashboard/apps/consent/helpers.py
  src/dashboard/apps/consent/migrations/0009_alter_consent_options_and_more.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/signals.py
  src/dashboard/apps/consent/tests/test_commands_renewconsents.py
  src/dashboard/apps/consent/tests/test_signals.py
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/helpers.py
  src/dashboard/apps/core/migrations/0009_remove_deliverypoint_unique_provider_station_and_more.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_helpers.py
Labels: improvement, needs review, dashboard

#498 🔨(prefect) create all deployments once prefect is up
  Makefile
Labels: improvement, needs review, prefect

#493 🗃️(dashboard) add Station model
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/fixtures/consent.py
  src/dashboard/apps/core/admin.py
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/migrations/0010_station.py
  src/dashboard/apps/core/models.py
Labels: improvement, needs review, dashboard

#502 🐛(api) update localisation using the coordonneesXY field
  src/api/CHANGELOG.md
  src/api/qualicharge/models/static.py
  src/api/qualicharge/schemas/core.py
  src/api/qualicharge/schemas/utils.py
  src/api/tests/schemas/test_static.py
  src/api/tests/schemas/test_utils.py
Labels: bug, needs review, API

#506 🔖(api:minor) bump release to 0.21.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#505 ✨(dashboard) add renewable_meter app to the dashboard project
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/renewable/__init__.py
  src/dashboard/apps/renewable/admin.py
  src/dashboard/apps/renewable/apps.py
  src/dashboard/apps/renewable/migrations/__init__.py
  src/dashboard/apps/renewable/models.py
  src/dashboard/apps/renewable/views.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, dashboard

#495 🚸(dashboard) add grouped station in templates
  src/dashboard/apps/consent/templates/consent/includes/_consent_summary_validated_card_content.html
  src/dashboard/apps/consent/templates/consent/includes/_manage_consents.html
  src/dashboard/apps/consent/templates/consent/validated.html
  src/dashboard/apps/consent/templatetags/__init__.py
  src/dashboard/apps/consent/templatetags/consent_filters.py
  src/dashboard/apps/consent/tests/test_templatetags.py
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/views.py
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
Labels: improvement, needs review, dashboard

#512 🗃️(dashboard) squash core and consent migrations
  src/dashboard/apps/consent/migrations/0001_initial.py
  src/dashboard/apps/consent/migrations/0001_squashed_0009_alter_consent_options_and_more.py
  src/dashboard/apps/consent/migrations/0002_alter_consent_managers_alter_consent_delivery_point.py
  src/dashboard/apps/consent/migrations/0003_alter_consent_managers_alter_consent_end_and_more.py
  src/dashboard/apps/consent/migrations/0004_consent_contractual_fields.py
  src/dashboard/apps/consent/migrations/0005_consent_contract_holder_email_and_more.py
  src/dashboard/apps/consent/migrations/0006_remove_consent_contract_holder_email_and_more.py
  src/dashboard/apps/consent/migrations/0007_consent_id_station_itinerance_and_more.py
  src/dashboard/apps/consent/migrations/0008_alter_consent_options_alter_consent_start.py
  src/dashboard/apps/consent/migrations/0009_alter_consent_options_and_more.py
  src/dashboard/apps/core/migrations/0001_initial.py
  src/dashboard/apps/core/migrations/0001_squashed_0010_station.py
  src/dashboard/apps/core/migrations/0002_alter_deliverypoint_entity.py
  src/dashboard/apps/core/migrations/0003_alter_deliverypoint_managers_alter_entity_proxy_for_and_more.py
  src/dashboard/apps/core/migrations/0004_entity_company_informations.py
  src/dashboard/apps/core/migrations/0005_entity_contract_holder_email_and_more.py
  src/dashboard/apps/core/migrations/0006_deliverypoint_id_station_itinerance_and_more.py
  src/dashboard/apps/core/migrations/0007_entity_synced_at.py
  src/dashboard/apps/core/migrations/0008_alter_deliverypoint_provider_assigned_id_and_more.py
  src/dashboard/apps/core/migrations/0009_remove_deliverypoint_unique_provider_station_and_more.py
  src/dashboard/apps/core/migrations/0010_station.py
Labels: improvement, needs review, dashboard

#516 🐛(api) Switch the Status table to a TimescaleDB hypertable
  src/api/CHANGELOG.md
  src/api/qualicharge/migrations/versions/2d5ecaec5672_fix_status_hypertable_creation.py
  src/api/qualicharge/schemas/core.py
Labels: bug, critical, needs review, API

#501 🐛(prefect) allow historicization with None start
  src/prefect/indicators/historicize/up.py
  src/prefect/indicators/utils.py
  src/prefect/tests/historicize/test_up.py
  src/prefect/tests/infrastructure/test_i1.py
Labels: bug, prefect

#508 🗃️(dashboard) add Renewable model with admin, factories and seed command
  Makefile
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/renewable/admin.py
  src/dashboard/apps/renewable/apps.py
  src/dashboard/apps/renewable/factories.py
  src/dashboard/apps/renewable/fixtures/__init__.py
  src/dashboard/apps/renewable/fixtures/renewable.py
  src/dashboard/apps/renewable/management/__init__.py
  src/dashboard/apps/renewable/management/commands/__init__.py
  src/dashboard/apps/renewable/management/commands/seed_renewable.py
  src/dashboard/apps/renewable/migrations/0001_initial.py
  src/dashboard/apps/renewable/models.py
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#521 🔖(api:minor) bump release to 0.22.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#523 🔖(api:patch) bump release to 0.22.1
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#280 Add API performance analysis
  src/notebook/misc/api-benchmark.md
Labels: API

#529 ✨(dashboard) enhance renewable handling and add current quarter utils
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/core/admin.py
  src/dashboard/apps/core/managers.py
  src/dashboard/apps/core/migrations/0011_alter_deliverypoint_managers_and_more.py
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/apps/core/tests/test_utils.py
  src/dashboard/apps/core/utils.py
  src/dashboard/apps/renewable/managers.py
  src/dashboard/apps/renewable/models.py
Labels: feature, needs review, dashboard

#530 🔖(prefect) add indicators i4
  src/prefect/CHANGELOG.md
  src/prefect/indicators/infrastructure/i4.py
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/prefect.yaml
  src/prefect/tests/infrastructure/test_i4.py
Labels: prefect

#525 🔖(prefect) add indicators u5
  src/prefect/CHANGELOG.md
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/indicators/usage/u5.py
  src/prefect/prefect.yaml
  src/prefect/tests/usage/test_u5.py
Labels: prefect

#526 🔖(prefect) add indicators u6
  src/prefect/CHANGELOG.md
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/indicators/usage/u6.py
  src/prefect/prefect.yaml
  src/prefect/tests/usage/test_u6.py
Labels: prefect

#531 🚸(dashboard) add renewable meter reading management page
  docs/renewable/img/2-renewable-manage.png
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_meters.html
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_meters_authorisations.html
  src/dashboard/apps/renewable/templates/renewable/includes/_manage_meters_date_place.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_pending_card_content.html
  src/dashboard/apps/renewable/templates/renewable/manage.html
  src/dashboard/apps/renewable/urls.py
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#532 🔖(prefect) add i7 indicator
  src/prefect/CHANGELOG.md
  src/prefect/indicators/infrastructure/i7.py
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/prefect.yaml
  src/prefect/tests/infrastructure/test_i7.py
Labels: prefect

#527 🔖(prefect) add indicators u9
  src/prefect/CHANGELOG.md
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/indicators/usage/u9.py
  src/prefect/prefect.yaml
  src/prefect/tests/usage/test_u9.py
Labels: prefect

#528 🔖(prefect) add indicators u10
  src/prefect/CHANGELOG.md
  src/prefect/indicators/run.py
  src/prefect/indicators/strategy.py
  src/prefect/indicators/usage/u10.py
  src/prefect/prefect.yaml
  src/prefect/tests/usage/test_u10.py
Labels: prefect

#544 👷(project) fix base workflow permissions
  .github/workflows/chore.yml
  .github/workflows/dashboard.yml
  .github/workflows/docker-images.yml
  .github/workflows/python-packages.yml
Labels: improvement

#536 🐛(prefect) add missing parameters for deployments
  src/prefect/prefect.yaml
Labels: bug, prefect

#533 ✨(dashboard) enhance renewable logic in views and templates
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/apps/home/views.py
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_pending_card_content.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_submitted_card_content.html
  src/dashboard/apps/renewable/views.py
Labels: feature, needs review, dashboard

#550 🗃️(api) improve database connection pool configurability
  env.d/api
  src/api/CHANGELOG.md
  src/api/qualicharge/conf.py
  src/api/qualicharge/db.py
Labels: improvement, API

#551 🔖(api:minor) bump release to 0.23.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API
