Repository MTES-MCT/qualicharge, pull requests merged in 2025-06, with the labels that each got.

#611 ✏️(api) fix `id_station_itinerance` field examples in swagger
  src/api/CHANGELOG.md
  src/api/qualicharge/models/static.py
Labels: bug, needs review, API

#580 🗃️(api) add activity data cleaning cronjob
  src/api/CHANGELOG.md
  src/api/cron.json
  src/api/scripts/clean-old-activity.sql
Labels: improvement, needs review, API

#621 🔖(api:minor) bump release to 0.24.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#600 🐛(dashboard) fix access to the delivery points management in renewable app
  src/dashboard/apps/core/models.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_delivery_points.html
  src/dashboard/apps/renewable/templates/renewable/includes/_summary_delivery_points_content.html
  src/dashboard/apps/renewable/tests/test_view.py
  src/dashboard/apps/renewable/views.py
Labels: bug, dashboard

#601 📈(dashboard) add 'noindex' meta tag block to base template
  src/dashboard/dashboard/urls.py
  src/dashboard/templates/base.html
  src/dashboard/templates/robots.txt
Labels: improvement, dashboard

#629 ⬆️(dashboard) update Pipfile.lock dependencies
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile.lock
Labels: dependencies, dashboard

#631 🐛(api) fix timescaledb cleanup parameter
  src/api/scripts/data_retention_procedure.sql
Labels: bug, needs review, API

#630 🔖(dashboard) bump release to 0.2.0
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/__init__.py
  src/dashboard/dashboard/__init__.py
  src/dashboard/pyproject.toml
Labels: needs review, dashboard

#636 🔖(api:minor) bump release to 0.25.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API
