Repository MTES-MCT/qualicharge, pull requests merged in 2025-01, with the labels that each got.

#317 🧑‍💻(dashboard) add bootstrap and reset commands for dashboard setup
  Makefile
  src/dashboard/readme.md
Labels: feature, needs review, dashboard

#323 🔧(api) set request user in Sentry's context
  src/api/CHANGELOG.md
  src/api/qualicharge/auth/oidc.py
Labels: improvement, needs review, API

#307 ✨(dashboard) add signals on delivery point creation
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/apps.py
  src/dashboard/apps/consent/factories.py
  src/dashboard/apps/consent/fixtures/consent.py
  src/dashboard/apps/consent/migrations/0003_alter_consent_managers_alter_consent_end_and_more.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/settings.py
  src/dashboard/apps/consent/signals.py
  src/dashboard/apps/consent/tests/conftest.py
  src/dashboard/apps/consent/tests/test_models.py
  src/dashboard/apps/consent/tests/test_signals.py
  src/dashboard/apps/consent/tests/test_utils.py
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/utils.py
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/tests/test_models.py
  src/dashboard/dashboard/settings.py
  src/dashboard/readme.md
Labels: feature, dashboard

#328 ⬆️(dashboard) update django-dsfr to version 2.0.0
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
Labels: needs review, dependencies, dashboard

#318 ✨(dashboard) add admin actions for updating consent statuses
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/admin.py
  src/dashboard/apps/consent/tests/conftest.py
  src/dashboard/apps/consent/tests/test_admin.py
Labels: feature, needs review, dashboard

#332 👔(dashboard) enforce immutability of validated consents
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/tests/test_models.py
Labels: feature, needs review, dashboard

#334 👔(dashboard) disabled updates to non-AWAITING consents in front app
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/templates/consent/manage.html
  src/dashboard/apps/consent/tests/test_views.py
  src/dashboard/apps/consent/views.py
  src/dashboard/templates/blocks/main_menu.html
Labels: improvement, dashboard

#342 🐛(api) fix raccordementenum database type
  src/api/CHANGELOG.md
  src/api/qualicharge/migrations/versions/d3d2c20f8efd_update_enum_definitions.py
Labels: bug, schema, API

#343 🗑️(dashboard) remove "make awaiting" action from ConsentAdmin.
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/admin.py
  src/dashboard/apps/consent/tests/test_admin.py
Labels: improvement, needs review, dashboard

#341 👔(dashboard) update consent status logic when update from validated to revoked
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/exceptions.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/tests/test_models.py
  src/dashboard/readme.md
Labels: improvement, needs review, dashboard

#347 👔(dashboard) disallow delete action for consents in admin.
  src/dashboard/CHANGELOG.md
  src/dashboard/apps/consent/admin.py
  src/dashboard/apps/consent/tests/test_admin.py
Labels: improvement, dashboard

#354 🐛(api) fix database enums to varchar migration (1.5)
  src/api/qualicharge/migrations/versions/3e8ea07e5b66_alter_db_enum_to_varchar.py
Labels: bug, schema, API

#353 API: migrate database enum from name to value (2)
  src/api/qualicharge/migrations/versions/9ae109e209c9_update_db_enum_values_and_type.py
Labels: improvement, schema, API

#305 Add statique materialized view
  Makefile
  src/api/CHANGELOG.md
  src/api/Pipfile
  src/api/Pipfile.lock
  src/api/cron.json
  src/api/pyproject.toml
  src/api/qualicharge/cli.py
  src/api/qualicharge/migrations/env.py
  src/api/qualicharge/migrations/versions/4b99d15436b0_add_statique_materialized_view.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/schemas/test_static.py
Labels: critical, improvement, needs review, API

#356 ⚡️(opendata) use the Statique Materialized View
  src/opendata/CHANGELOG.md
  src/opendata/data7.yaml
Labels: improvement, needs review, opendata, blocked

#358 🐛(opendata) fix `statiques` dataset SQL query
  src/opendata/data7.yaml
Labels: bug, critical, opendata

#349 Feature/dashboard/add consent contractual fields
  .github/workflows/dashboard.yml
  env.d/dashboard
  src/dashboard/CHANGELOG.md
  src/dashboard/Pipfile
  src/dashboard/Pipfile.lock
  src/dashboard/apps/consent/migrations/0004_consent_contractual_fields.py
  src/dashboard/apps/consent/models.py
  src/dashboard/apps/consent/settings.py
  src/dashboard/apps/consent/tests/test_validators.py
  src/dashboard/apps/consent/validators.py
  src/dashboard/apps/core/tests/test_validators.py
  src/dashboard/apps/core/validators.py
  src/dashboard/dashboard/settings.py
Labels: feature, needs review, WIP, dashboard

#361 Integrate Statique Materialized View to the API
  src/api/CHANGELOG.md
  src/api/qualicharge/api/v1/routers/static.py
  src/api/qualicharge/schemas/core.py
  src/api/tests/api/v1/routers/test_statique.py
  src/api/tests/schemas/test_static.py
Labels: improvement, needs review, API

#365 🔖(api:minor) bump release to 0.17.0
  src/api/CHANGELOG.md
  src/api/pyproject.toml
  src/api/qualicharge/__init__.py
Labels: release, API

#360 🗃️(dashboard) add company-related fields to the Entity model
  src/dashboard/apps/core/factories.py
  src/dashboard/apps/core/migrations/0004_entity_company_informations.py
  src/dashboard/apps/core/models.py
Labels: improvement, needs review, dashboard
